.DS_Store
*.synctex*
*.aux
*.auxlock
*.log
*.out
*.dvi
*.bbl
*.idx
*.blg
*.bcf
*.run.xml
*.pdf
*.ps
*.ps.gz
*.bak
*~
#*#
.st_lt_cache/
*.fdb_latexmk
*.fls
.refresh
*.pyc
*.xwm
*.cb
*.cb2
comment.cut

# Additional TeX intermediate files
*.nav
*.snm
*.toc
*.vrb
